@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis{height:auto}.lenis.lenis-smooth{scroll-behavior:auto}.lenis.lenis-smooth [data-lenis-prevent]{overscroll-behavior:contain}.lenis.lenis-stopped{overflow:hidden}.lenis.lenis-scrolling iframe{pointer-events:none}



.only-bottom-shadow {
    /* box-shadow: 0 8px 5px rgb(41, 41, 41); */
    /* opacity: 0.5; */
}


::-webkit-scrollbar {
    display: none;
}

/* .autotext {
    font-size: auto;
  } */

  