@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
html.lenis{height:auto}.lenis.lenis-smooth{scroll-behavior:auto}.lenis.lenis-smooth [data-lenis-prevent]{overscroll-behavior:contain}.lenis.lenis-stopped{overflow:hidden}.lenis.lenis-scrolling iframe{pointer-events:none}

::-webkit-scrollbar {
    display: none;
}

.sidebar {
  position: fixed;
  z-index: 10;
}
.sidebarbutton {
  position: fixed;
  z-index: 10;
}

.gallery {
    z-index: 1;
}