 
  .textContainer{
    position: relative;
    cursor: pointer;
    transition: transform 0.4s;
    transform-style: preserve-3d;
  }
  
  .textContainer  p{
    font-size: 60px;
    margin: 0px;
    transition: all 0.4s;
    letter-spacing: 2px;
    line-height: 73px;
  }
  
   .secondary{
    transform: rotateX(-90deg) translateY(3.5vw);
    transform-origin: bottom center;
    position: absolute;
    top: 0;
    opacity: 0;
  }
  .textContainer:hover .secondary{
    opacity: 1;
  }
  
  .textContainer:hover{
    transform: rotateX(90deg);
  }
  
  
  
  .textContainer:hover .primary{
    transform: translateY(-100%);
    opacity: 0;
  }